.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.slider p{
    color: rgb(61, 61, 61);
    font-size: smaller;
}
.slider input[type="range"] {
    -webkit-appearance: none !important;
    width: 80%;
    height: 0.3rem;
    cursor: pointer;
    border-radius: 1rem;
    background: #117d52;
    border: none;
    outline: none;
}
.slider div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}