.listItem{
    width: 85%;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgb(197, 197, 197);
    padding: 1rem 0 1rem 0;
}
.reviews{
    margin: 0 0.5rem;
    color: grey;
    font-size: smaller;
}
.nameNRating{
    line-height: 70%;
}
.address,.phone,.email{
    color: rgb(47, 47, 47);
    font-size: smaller;
}
.price{
    font-size: small;
    font-weight: bolder;
    margin: 0 0;
}
@media (max-width:750px){
    .listItem{
        width: 100%;
        margin-right: 0;
    }
  }