.header{
    padding: 1rem 0;
    width: 100%;
}
.box{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search{
    position: relative;
    width: 99%;
    height: 70%;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
    background: transparent;
    border: 2px solid white;
    box-shadow: 0px 4px 4px 1px rgb(235, 222, 222);
    padding: 0.5rem 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(66, 66, 66);
}
.searchIcon{
    position: absolute;
    z-index:-12;
    top: 50%;
    transform: translate(0.5rem,-50%);
    left: 0;
    padding-left: 0.2rem;
}
.search:focus{
    position: relative;
    outline: none;
    box-shadow: 0px 4px 11px 1px rgb(235, 222, 222);
}
.search:hover{
    width: 100%;
    padding: 0.5rem 2rem;
    border: 1px solid grey;
}
.date input{
    width: 80%;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
    padding: 0.5rem;
    outline: none;
    background: transparent;
    z-index: 10;
}
.date input:hover{
    border-color: black;
    box-shadow: 0px 4px 11px 1px rgb(235, 222, 222);
}
.filtertext{
    border: 2px solid rgb(225, 225, 225);
    border-radius: 20px;
    position: relative;
    left: 50%;
}
.filtertext p{
    margin: 0.5rem;
}
.box select{
    width: 70%;
    padding: 0 1rem;
    cursor: pointer;
}
.box select:hover{
    border: 2px solid black;
}
.calenderIcon{
    position: absolute;
    left: 12%;
    height: 1rem;
    width: 2rem;

}
.date input[type="text"]::placeholder{
    text-align: center;
    color: Black;
    opacity: 1;
    font-weight: 600;
    font-size: small;
}
.date input[type="date"]{
    text-align: center;
    color: Black;
    padding: 0.6rem 0.5rem;
    font-size: small;
}
@media (max-width:1078px) {
    .date input[type="text"]::placeholder{
        text-align: end;
        
    }
    .date input{
        padding-right: 0.7rem;
    }
}
@media (max-width:962px){
    .calenderIcon,.date{
        display: none;
    }
    .box select{
        width: 100%;
        text-align: center;
    }
    .search{
        border: 1px solid grey;
    }
}
@media (max-width:506px){
    .search{
        width: 100%;
    }
    
}